{
  "UserToken": "your_user_token_here",
  "UserInfo": "your_user_info_here",
  "dc_sid": "your_dc_sid_here",
  "Hm_lvt_6bcd52f51e9b3dce32bec4a3997715ac": "your_hmac_value_here",
  "c_segment": "your_segment_here",
  "c_first_ref": "default",
  "c_first_page": "https://www.csdn.net/"
}
